@charset "utf-8";

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

h1 {

    font-size: large;
    color: darkgreen;
    font-weight: bold;

}

p {


    color: white;
}

.container {
    max-width: 800px;
    margin: 100px auto;


}