@charset "utf-8";

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

h1 {

    font-size: 50px;
    color: darkgreen;
    font-weight: bold;

}

p, a{

    font-size: 20px;
    color: white;
}

.container {
    max-width: 800px;
    margin: 100px auto;


}

img {
    border-style: solid;
    border-color: white;
    border-width: 5px;

}
